body, html, #__next, .site { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: white;
  width: 100vw;
  max-width:100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.splash {
  width: 100vw;
  max-width:100%;
  height: calc(100vh - 10vh);
  background: #388EDB;
  overflow-x: hidden; 

}


.splash-top{
  height: 55%;
  background-image: url('/static/newskyline.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-radius: 0% 0% 100% 100% / 0% 0% 60% 60%;
  width: 110%;
  position: relative;
  left: -5%; 
}

.splash-banner{
  background: #388EDB;
  height: 45%;
}

.splash-footer{
  height: 10vh;
  background: #0B2B40;
  display: flex;
  align-items: flex-end;
  transition-property: height, align-items;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.scrolled-splash-footer{
  height: 5vw;
  align-items: center;
}

.splash-footer-icons{
  display: flex;
  height: 6vw;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  color:  #388EDB;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 7vh;
  transition-property: font-size, align-items;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.scrolled-splash-footer-icons{
  font-size: 2.8vw;
  align-items: center;

}

.splash-footer-icon{
  display:flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: center;
  width: 110px;
  min-width: 110px;
  height: 16vh; 
  overflow: visible;
  background: #0B2B40;
  transition-property: justify-content, align-items, background;
  transition-duration: .2s;
  transition-timing-function: linear;
}


.scrolled-splash-footer-icon{

  flex-direction: row;
  background: none;
  justify-content: center;
  align-items: center;
  height: 5vw; 
  overflow: hidden;

 
}

.icon-label {
  width: 300%;
  text-align: center;
  font-size: 3.2vh;
  padding: 7.5%;
}

.report-container {
  width: 100vw;
  max-width:100%;
  background: white;

}

.report {
  padding-top: 4.8vw;
  padding-bottom: 4.8vw;
  padding-left: 8.5%;
  padding-right: 8.5%;
}


.section-one {
  height: 37vw;
}

.section-banner {
  height: 26vw;
  background: #0B2B40;
}

.section-two {
  height: 72vw;
}



.about-banner {
  height: 42vw;
  background:  #388EDB;
}

.footer {
  height: 21vw;
  background: #0B2B40;
}


.responsive-img { 
  height: 100%;
  width: auto;
}


.report-text{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #0B2B40;
}
.heading{
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: 'Leto', sans-serif;
  color: #2FD89F;
  font-weight: 300;
  padding-bottom: 3.3vw;

}
.sub-heading{
  font-size: 1.8vw; 
  font-family: 'Leto', sans-serif;
  /* padding-bottom: 1.8vw;  */
}

.spacer-line{
  border-bottom: #2FD89F solid 3px;
  width: 3vw;

  margin-top: 1.7vw;
}

.paragraph{
  padding-top: 1.7vw;
  font-size: 1.1vw; 
  font-family: 'Open Sans', sans-serif;
  line-height: 2vw;
}

.report-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.8vw;
}

.report-vis{
  border: grey solid 4px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.read-more{
    padding-top: 1.7vw;
}

