body, html, #__next, .site { 
margin: 0;
height: 100%;
font-family: 'Open Sans', sans-serif;
background: white;
display: flex; 
justify-content: center;

}
/* 
.container{
  height: 742px;
  width: 1400px;
} */

/* 
 */

 /* .splash-container {
  width: 100vw;
  height: 53vw;
  overflow-x: hidden;
  background: #388EDB
} */

.splash {
  height: 53vw;
  width: 100vw;
  overflow-x: hidden;
  background: #388EDB
}


/* .splash-img {
  background-image: url('/static/newskyline.jpeg'); 
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
} */

.splash-top{
  height: 45%;
  background: pink;
  background-image: url('/static/newskyline.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-radius: 0% 0% 100% 100% / 0% 0% 30% 30%;
  /* width: 110%; */
  position: relative;
  /* left: -5%; */
}

.splash-banner{
  background: #388EDB;
  height: 45%;
}

.splash-footer{
  height: 10%;
  background: #012A42;
  display: flex;
  align-items: flex-end;

}

.splash-footer-icons{
  display: flex;
  width: 75%;
  align-items: flex-end;
  justify-content: space-around;
  color:  #388EDB;
  font-size: 3em;
  padding-left: 15%;
  padding-right: 15%;
}

.splash-footer-icon{
  display:flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: center;
  width: 95px;
  height: 100px; 
  overflow: visible;
  background: #012A42;
}








.report-one {
  height: 300vh;
}

.sticky-footer{
  height: 50px;
  background: #012A42;
}
/* 
.report-half-vis {
  width: 50%;
  height: 100%;
} */

.report-one-sub-one {
  /* height: 33%; */
  height: 45vw;
  width: 100vw;
  background: white;
}


.report-one-banner {
  /* height: 17%; */
  height: 26vw;
  width: 100vw;
  background: #012A42;
}
.report-one-sub-two {
  /* height: 50%; */
  height: 65vw;
  width: 100vw;
  background: white;
}

.site-bottom {
  height: 75vh;
}

.about-banner {
  /* height: 50%; */
  height: 35vw;
  width: 100vw;
  padding-left: 100px;
  padding-right: 8.5%;
  background:  #388EDB;
}

.footer {
  /* height: 50%; */
  height: 25vw;
  width: 100vw;
  background: #012A42;
  justify-content: center;
  display: flex;
  align-items: center;
}


.responsive-img { 
  height: 100%;
  width: auto;
}


.text-stuff {
  width: 300px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

.report-Heading {
  text-align: center;
  font-size: 20px;
}