body, html, #__next, .site { 
margin: 0;
font-family: 'Open Sans', sans-serif;
color: white;
}


.splash {
  /* height: 54vw;
  width: 100vw; */
  height: 100vh;
  /* background-image: url('/static/newskyline.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; */
  /* grid-template-rows: 4.5fr 4.5fr 1fr; */
  
}


/* .splash-img {
  background-image: url('/static/newskyline.jpeg'); 
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
} */

.splash-top{
  height: 45%;
  background-image: url('/static/newskyline.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.splash-banner{
  background: #388EDB;
  height: 45%;
}

.splash-footer{
  height: 10%;
  background: #012A42;

}

.splash-footer-icons{
  display: flex;
  justify-content: space-around;
  color:  #388EDB;
  height: 100%; 
  align-items: center;
  /* overflow: visable; */
  font-size: 2.5em;
  padding-left: 25%;
  padding-right: 25%;
}

/* .splash-footer-bar{
  background: #012A42;
  height: 67%;
} */




.report-one {
  height: 200vh;
  background: white;
}

.report-one-sub-one {
  height: 33%;
  /* height: 45vw;
  width: 100vw; */
  background: white;
}


.report-one-banner {
  height: 17%;
  /* height: 26vw;
  width: 100vw; */
  background: #012A42;
}
.report-one-sub-two {
  height: 50%;
  /* height: 65vw;
  width: 100vw; */
  background: white;
}

.site-bottom {
  height: 75vh;
}

.about-banner {
  height: 50%;
  /* height: 35vw;
  width: 100vw; */
  padding-left: 8.5%;
  padding-right: 8.5%;
  background:  #388EDB;
}

.footer {
  height: 50%;
  /* height: 25vw;
  width: 100vw; */
  background: #012A42;
  justify-content: center;
  display: flex;
  align-items: center;
}


.responsive-img { 
  height: 100%;
  width: auto;
}

