body, html, #__next, .site { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: white;
  width: 100vw;
  max-width:100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.splash {
  width: 100vw;
  max-width:100%;
  height: calc(100vh - 75px);
  overflow-x: hidden; 
}

.splash-heading {
  width:940px;
  padding: 20px;
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Leto', sans-serif;
  line-height: 64px;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
}

.splash-background {
  height: 100%;
  background-image: url('/static/splash_background_desktop.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

/* .splash-top{
  height: 55%;
  background-image: url('/static/newskyline.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-radius: 0% 0% 100% 100% / 0% 0% 60% 60%;
  width: 110%;
  position: relative;
  left: -5%; 
} */

/* .splash-banner{
  background: #4992D5;
  height: 45%;
} */

.splash-footer{
  height: 75px;
  background: #0B2B40;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition-property: height, align-items;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.scrolled-splash-footer{
  height: 75px;
  z-index:2;
}

.splash-footer-icons{
  display: flex;
  height: 6vw;
  width: 765px;
  padding-left: 2%;
  padding-right: 2%;

  align-items: flex-end;
  justify-content: space-between;
  color:  #4992D5;
  font-size: 7vh;
  transition-property: font-size, align-items;
  transition-duration: .2s;
  transition-timing-function: linear;
}

/* @media (max-width: 1100px) {
  .splash-footer-icons {
    padding-left: 8%;
    padding-right: 8%; 
  } 
} */

.scrolled-splash-footer-icons{
  align-items: center;
 
}

.splash-footer-icon{
  display:flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: center;
  width: 15vh;
  height: 15vh;
  overflow: visible;
  background: #0B2B40;
  transition-property: justify-content, align-items, background;
  transition-duration: .2s;
  transition-timing-function: linear;
  cursor: pointer;
}

.icon-line{
  border-bottom:  #0B2B40 solid 3px;
  width: 120px;
  transition: border-bottom .2s linear;
  margin-bottom: 8%;


}

.splash-footer-icon:active .icon {
  fill: #2FD89F
  
}

.splash-footer-icon:hover .icon-line {
  border-bottom: #2FD89F solid 3px;
  width: 120px;
  
}

.icon{
  width: 38px;
  height: 38px;
}
/* .icon-svg{
  fill:magenta
} */



.scrolled-splash-footer-icon{

  flex-direction: row;
  background: none;
  justify-content: center;
  align-items: center;
  height: 75px; 
  overflow: hidden;

}

.scrolled-splash-footer-icon .icon-line {
  border-bottom: #0B2B40 solid 3px;
  width: 0;
}
.scrolled-splash-footer-icon:hover .icon-line {
  border-bottom: #0B2B40 solid 3px;
  width: 0;
}

.icon-label {
  width: 300%;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-top: 8px;
}

.report-container {
  width: 100vw;
  max-width:100%;
  background: white;
}

.report {
  padding-left: 6%;
  padding-right: 6%;
}


.section-one {
  height: 650px;
  padding-top: 68px;
  padding-bottom: 68px;
  display: flex;
  justify-content: center;
}

.inner-section {
  max-width: 1200px;
}


.section-banner {
  height: 26vw;
  background: #0B2B40;
  display: flex;
  justify-content: center;
}

.section-two {
  height: 72vw;
}



.about-banner {
  height: 438px;
  background:  #4992D5;
}

.footer {
  height: 338px;
  background: #0B2B40;
}


.responsive-img { 
  height: 100%;
  width: auto;
}

.report-text{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #0B2B40;
}
.heading{
  /* font-size: 2.5vw; */
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Leto', sans-serif;
  color: #2FD89F;
  font-weight: 300;
  padding-bottom: 38px;

}
.sub-heading{
  font-size: 28px; 
  font-family: 'Leto', sans-serif;


}

.spacer-line{
  border-bottom: #2FD89F solid 3px;
  width: 45px;
  margin-top: 16px;
}


.paragraph{
  padding-top: 20px;
  font-size: 16pt;

  font-family: 'Open Sans', sans-serif;
  line-height: 30px;



  
  
}

.report-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 38px; 

}

.text-col{
  width: 100%
}

.vis-col{
  width: 100%;
}

.report-vis{
  display: flex;
  justify-content: center;
}

.read-more-button{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  border: #4992D5 solid 1px;
  font-size: 16px;
  border-radius: 3px;
  width: 118px;
  height: 30px;
  color:#4992D5;
  font-family: 'Leto', sans-serif;
  letter-spacing: .6px;

}


